{% extends 'adminhome.html' %}

{% block 'body' %}

<br><br><br>
<h3 align="center"><u>Add Course</u></h3>
<br><br>

<h3 align="center" style="color:red">{{msg}}</h3>


<form method="post" action="{% url 'courseupdated' %}">
  {% csrf_token %}
  <table align="center" style="border-collapse: separate; border-spacing: 25px;">
    <tr bgcolor="grey">
        <td><label>Course ID</label></td>
        <td><input type ="number" name="cid" value="{{cid}}" readonly></td>
    </tr>

     <tr>
      <td><label>Enter Course Title</label></td>
      <td>
       <input type="text" name="ctitle" required>
      </td>
    </tr>
    <tr>
      <td><label>LTPS</label></td>
      <td>
       <input type="text" name="ltps" required placeholder="x-x-x-x">
      </td>
    </tr>
    <tr>
      <td><label>Credits</label></td>
      <td>
       <input type="number" name="credits" min="0.0" max="8.0" required>
      </td>
    </tr>

    <tr>
      <td><input type="submit" value="Update" class="button"> </td>
      <td><input type="reset" value="Clear" class="button"> </td>
    </tr>
  </table>
</form>

{% endblock %}