{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SMS PROJECT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<h2 align="center">Student Academic Management System</h2><br>
<nav class="navbar">
    <div class="logo">Logo</div>
    <ul class="nav-links">
        <div class="menu">
<li><a href="{% url 'home' %}">HOME</a>&nbsp;&nbsp;&nbsp;</li>
<li><a href="{% url 'about' %}">ABOUT PROJECT</a>&nbsp;&nbsp;&nbsp;</li>

<li class="services">
    <a>LOGIN</a>&nbsp;&nbsp;&nbsp;
    <ul class="dropdown">
        <li><a href="{% url 'studentlogin' %}">Student</a></li>
        <li><a href="{% url 'facultylogin' %}">Faculty</a></li>
        <li><a href="{% url 'login' %}">Admin</a></li>
    </ul>
</li>


<li><a href="{% url 'contact' %}">CONTACTS</a>&nbsp;&nbsp;&nbsp;</li>
            </div>
        </ul>
</nav>
<br><br>
{% block 'body' %}
<p>I am in Home Page</p><br>
<center>
<img src="{% static 'images/django.jpeg'%}">
    </center>
{% endblock %}
</body>
</html>